doctype html
//- basic libraries: jquery(1.10.2), d3js(3.3.11), angularjs(1.2.3), bootstrap(3.0)/semantic-ui(0.9.3/0.9.5)
//-                  fontawesome(4.4.0)
- var use = { cdn: true, og: false, favicon: true }
- var lib = { jquery: true, d3js: false, angular: true, bootstrap: true, semantic: false, fontawesome: true }
- var assets = "assets"
- var thumbnail = "thumbnail.png"
- var favicon = "thumbnail.png"
html(lang="en")
  head(prefix="og: http://ogp.me/ns#")
    meta(charset="utf-8")
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title template
    // libraries
    include library.jade
    // custom files
    link(rel="stylesheet",type="text/css",href="index.css")
    link(rel="stylesheet",type="text/css",href="ldcp.css")
    script(src="https://cdn.firebase.com/js/client/2.2.4/firebase.js")
    script(src="https://cdn.firebase.com/libs/angularfire/1.1.3/angularfire.min.js")
    script(type="text/javascript",src="ldcp.js")
    script(type="text/javascript",src="index.js")
  body(ng-app="main",ng-controller="main",
  ng-keydown="ptrctrl.keydown($event)",ng-keypress="ptrctrl.keypress($event)",
  ng-mousedown="ptrctrl.down($event)",ng-mousemove="ptrctrl.move($event)",ng-mouseup="ptrctrl.mup($event)")
    #root
      .btn-group
        .btn.btn-default: i.fa.fa-mouse-pointer
        .btn.btn-default: i.fa.fa-pencil
        .btn.btn-default(ng-click="random()"): i.fa.fa-plus
        .btn.btn-default(ng-click="remove()"): i.fa.fa-minus
      span &nbsp;
      .btn-group
        #fillbtn.btn.btn-default(ng-click="color.setTarget('fill')",
        ng-attr-style="color:{{color.fill}}",
        data-toggle="colorpicker",data-cpclass='round border shadow'): i.fa.fa-square
        #strokebtn.btn.btn-default(ng-click="color.setTarget('stroke')",
        ng-attr-style="color:{{color.stroke}}",
        data-toggle="colorpicker",data-cpclass='round border shadow'): i.fa.fa-square-o
      br
      br
      svg#svg(width="1024px",height="600px",viewBox="0 0 1024 600",preserveAspectRatio="xMidYMid")
        path(ng-attr-d="{{path}}",ng-attr-stroke="{{color.stroke}}",ng-attr-fill="{{color.fill}}")
        g(ng-repeat="c in nodes",
        ng-attr-transform="translate({{c.anchor[0]}} {{c.anchor[1]}})",ng-attr-idx="{{$index}}",
        ng-class="{'active':$index==chosen}")
          line.ctrl(ng-attr-x1="{{c.ctrl1[0]}}",ng-attr-y1="{{c.ctrl1[1]}}",
          ng-attr-x2="0",ng-attr-y2="0",stroke="black",ng-if="$index>0")
          line.ctrl(ng-attr-x1="{{c.ctrl2[0]}}",ng-attr-y1="{{c.ctrl2[1]}}",
          ng-attr-x2="0",ng-attr-y2="0",stroke="black",ng-if="$index<nodes.length - 1")
          circle.anchor(cx="0",cy="0",r="4",fill="black")
          circle.ctrl(ng-attr-cx="{{c.ctrl1[0]}}",ng-attr-cy="{{c.ctrl1[1]}}",r="3",ctrl="1",ng-if="$index>0")
          circle.ctrl(ng-attr-cx="{{c.ctrl2[0]}}",ng-attr-cy="{{c.ctrl2[1]}}",r="3",ctrl="2",ng-if="$index<nodes.length - 1")
